.checkoutPage {
  align-items: center;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  padding: 40px 20px;
  width: 100%;
}

.totalCheckoutValue {
  font-weight: 700;
  border-bottom: 4px solid rgb(27, 27, 27);
}
