.App {
  align-items: center;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 0.5s infinite ease;
  height: 100px;
  width: 100px;
}

@keyframes shake {

  0% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(50deg);
  }
}
