.cardProduct {
  display: inline-block;
  margin: 20px;
  width: 100px;
}

.imageDrinkCard {
  width: 100px;
}

.unitPrice {
  color: blue;
  position: absolute;
}

.footerCardDrink {
  background-color: rgb(173, 209, 140);
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

.addQuantities {
  display: flex;
}

.elementsQuantities {
  height: 30px;
  width: 30px;
}

.quantity {
  height: 24px;
  text-justify: center;
  width: 24px;
}
