.cardProduct {
  background-color: red;
  display: inline-block;
  margin: 40px;
  width: 200px;
}

.imageDrinkCard {
  width: 200px;
}

.unitPrice {
  color: blue;
  position: absolute;
}

.footerCardDrink {
  background-color: darkseagreen;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

.addQuantities {
  display: flex;
}
