.table {
  width: 100%;
  margin-left: 20px;
}

.table thead {
  font-weight: bold;
  padding: 10px 30px;
}

.table tr {
  font-weight: lighter;
  padding: 10px 30px;
}

.table tr:hover {
  font-weight: normal;
}


.table button {
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #59656f;
  background-color: #59656f;
  color: #ffa630;
}

.table button:hover {
  border: 1px solid #1d1e2c;
  background-color: #1d1e2c;
  color: #ffa630;
}

.title {
  color: #ffa630;
  margin-left: 20px;
}


.form {
  display: flex;
  flex-direction: column;
}

.form label {
  color: #59656f;
  padding: 10px 20px;
  width: 200px;
}

.form select {
  padding: 10px 20px;
  width: 245px;
}

.form input {
  padding: 10px 20px;
  width: 200px;
}


.form button {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  width: 245px;
  border: 1px solid #59656f;
  background-color: #ffa630;
  box-shadow: 0px 1px 5px #59656f;
  font-weight: bold;
}

.form button:hover {
  color: #ffa630;
  background-color: #1d1e2c;
}