.bodyCustomerProducts {
  display: flex;
  flex-wrap: wrap;
}

.buttonVercarrinho {
  background-color: rgb(173, 209, 140);
  float: left;
  font-size: 5px;
  height: 15px;
  left: 0;
  position: fixed;
  top: 0;
  width: 70px;
}
