.bodyCustomerProducts {
  display: flex;
  flex-wrap: wrap;
}

.buttonVercarrinho {
  background-color: rgb(173, 209, 140);
  float: left;
  height: 30px;
  position: fixed;
  right: 0;
  top: 30px;
  width: 200px;
}
