.border {
  display: flex;
  flex-grow: 1;
  padding: 0;
  padding-left: 30px;
  text-align: center;
  width: 100px;
}


.container {
  align-content: stretch;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.border:nth-child(2) {
  background-color: pink;
}

.border:nth-child(3) {
  background-color: lime;
  width: 200px;
}

.border:nth-child(4) {
  max-width: 100px;
}

.border:hover {
  background-color: lightgray;
}