.border {
  display: flex;
  flex-grow: 1;
  padding: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;

}


.container {
  align-content: stretch;
  background-color: #d7dedc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 1px 3px 5px #59656f;
  color: #1d1e2c;
  margin: auto;
}

.container button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: large;
  padding: 5px;
}

.container a {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  font-size: large;
  color: #1d1e2c;
  align-content: center;
  margin: auto;
}

.border:nth-child( 1 ) {
  max-width: 300px;
}

.border:nth-child( 2 ) {
  background-color: #d7dedc;
  max-width: 200px;
}

.border:nth-child( 3 ) {
  background-color: #ffa630;
  padding-left: 20px;
  width: 200px;
}

.border:nth-child( 4 ) {
  max-width: 70px;
  padding-left: 20px

}

.border:hover {
  background-color: #ffa630;
}
