.nav-container {
  display: flex;
  height: 4rem;
  top: 0;
  width: 100%;
}

.left-icons-container {
  align-items: center;
  background-color: #036b52;
  display: flex;
  justify-content: left;
  list-style: none;
  width: 50%;
}

.rigth-icons-container {
  align-items: center;
  background-color: #036b52;
  display: flex;
  justify-content: right;
  list-style: none;
  width: 50%;
}

.orders {
  align-items: center;
  background-color: #036b52;
  color: white;
  height: 4rem;
  width: 45%;
}

.products {
  align-items: center;
  background-color: #2fc18c;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: center;
  text-decoration: none;
  width: 35%;
}

.user-name {
  align-items: center;
  background-color: #421981;
  color: white;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 12rem;
}

.logout {
  align-items: center;
  background-color: #056cf9;
  color: white;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 6rem;
}
