.deliveryIcon {
  font-size: 50px;
}

.backToHome {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backToHome p {
  font-size: 15px;
}

.nav-link {
  font-size: 24px;
  margin-left: 30px;
}
