.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.deliveryIcon {
  font-size: 50px;
}

.backToHome {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backToHome p {
  font-size: 15px;
}

.nav-link {
  font-size: 24px;
  margin-left: 30px;
  padding: 31px;
  text-align: center;
  width: 200px;
}

.active {
  background-color: #2fc18c;
  border-radius: 5px;
}
