nav {
  background-color: rgb(173, 209, 140);
  display: flex;
  height: 4rem;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.icons-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 90vw;
}
