.productContainer {
  align-content: stretch;
  background-color: lightcyan;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  margin: 20px;
  max-width: 250px;
  position: relative;
}

.element {
  display: flex;
}

img {
  border: 1px solid black;
  margin: auto;
}

.absolute {
  color: grey;
  inset: 0;
  padding-left: 10px;
  position: absolute;
}