h1 {
  color: #036b52;
  font-size: xx-large;
  margin-top: 8rem;
  text-shadow: 1px 1px 4px rgb(114, 161, 82);
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  width: 17rem;
}

.labels {
  margin-bottom: 0.6rem;
}

.inputs {
  border-radius: 6px;
  color: #616161;
  height: 1.4rem;
  width: 15rem;
}

.true-button {
  background-color: #036b52;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #cecbcb;
  color: white;
  font-weight: 600;
  height: 2rem;
  margin-top: 1.3rem;
  width: 11rem;
}

.false-button {
  background-color: #93949494;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #cecbcb;
  color: white;
  font-weight: 600;
  height: 2rem;
  margin-top: 1.3rem;
  width: 11rem;
}

.register-button {
  background-color: #421981;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #cecbcb;
  color: white;
  font-weight: 600;
  height: 2rem;
  margin-top: 1.3rem;
  width: 11rem;
}

.logo-container {
  align-items: center;
  display: flex;
  height: 20rem;
  justify-content: center;
  margin: 0.5rem;
  margin-right: 2rem;
  width: 20rem;
}

.logo-img {
  border-radius: 5rem;
  height: 18rem;
}
