.container {
  height: 100%;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
  padding: 10px;
  width: 90%;
}

.unit-card-container {
  align-items: center;
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: 5px 5px 5px #d6d6d6;
  display: flex;
  height: 7rem;
  margin: 0.7rem;
  width: 22rem;
}

.link {
  text-decoration: none;
}

.order-number {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 7rem;
  justify-content: center;
  width: 5rem;
}

.pedido {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.order-status {
  align-items: center;
  background-color: #2fc18c;
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  width: 5rem;
}

.status-order {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.order-date {
  background-color: azure;
}

.order-total {
  background-color: beige;
}

.order-address {
  background-color: blueviolet;
}
