.container {
  height: 100%;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  margin-top: 4.4rem;
  padding: 20px;
  width: 80%;
}

.link {
  text-decoration: none;
}

.unit-card-container {
  align-items: center;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 15px;
  flex-wrap: wrap;
  height: 7rem;
  justify-content: center;
  margin: 20px;
  width: 20rem;
}

.card {
  color: black;
  display: flex;
  flex-wrap: wrap;
  height: 6rem;
  padding: 20px;
  width: 18rem;
}
