.container {
  height: 100%;
  width: 100%;
}

.cards-container {
  display: flex;
  height: 90%;
  justify-content: center;
  padding: 10px;
  width: 90%;
}

.unit-card-container {
  align-items: center;
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: 5px 5px 5px #d6d6d6;
  display: flex;
  height: 7rem;
  margin: 0.7rem;
  width: 22rem;
}

.link {
  text-decoration: none;
}

.order-number {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 7rem;
  justify-content: center;
  width: 5rem;
}

.pedido {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.rigth-side {
  display: flex;
  flex-flow: wrap;
  height: 7rem;
  width: 17rem;
}

.upper-side {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 16rem;
}

.lower-side {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: right;
  width: 16rem;
}

.status-container {
  align-items: center;
  display: flex;
  height: 4rem;
  width: 8rem;
}

.ordem-pendente {
  align-items: center;
  background-color: #e91c59;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: small;
  font-weight: 600;
  height: 3.3rem;
  justify-content: center;
  margin: auto;
  text-shadow: 1px 1px 2px black;
  width: 7rem;
}

.ordem-preparando {
  align-items: center;
  background-color: #c8c510;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: small;
  font-weight: 600;
  height: 3.3rem;
  justify-content: center;
  margin: auto;
  text-shadow: 1px 1px 2px black;
  width: 7rem;
}

.ordem-entregue {
  align-items: center;
  background-color: #06b331;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: small;
  font-weight: 600;
  height: 3.3rem;
  justify-content: center;
  margin: auto;
  text-shadow: 1px 1px 2px black;
  width: 7rem;
}

.date-price-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  padding: 0.2rem;
}

.order-date {
  align-items: center;
  background-color: azure;
  border: 1px solid #bebeb5;
  border-radius: 5px;
  display: flex;
  height: 1.6rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 7rem;
}

.order-total {
  align-items: center;
  background-color: azure;
  border: 1px solid #bebeb5;
  border-radius: 5px;
  display: flex;
  height: 1.6rem;
  justify-content: center;
  width: 7rem;
}

.order-address {
  align-items: center;
  background-color: white;
  border: 1px solid #bebeb5;
  border-radius: 5px;
  display: flex;
  height: 1.6rem;
  justify-content: center;
  width: 15rem;
}
