.c_button_tertiary {
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0.5px silver;
  color: var(--text-dark);
  cursor: pointer;
  padding: 8px;
}

.c_button_tertiary:disabled {
  cursor: default;
  opacity: 0.5;
}

.c_button_tertiary:hover {
  filter: brightness(1.25);
}
