.register-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.register-container {
  align-items: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  justify-content: flex-end;
  padding: 30px 0;
  width: 320px;
}

.register-container > input {
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  height: 30px;
  outline: none;
  width: 80%;
}

.register-container > button {
  position: relative;
  background: #363636;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.4rem;
  height: 40px;
  transition: 0.3s;
  width: 60%;
  color: white;
}


.register-container > button:hover {
  filter: brightness(1.2);
}

.register-container > button::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 15px;
  top: 13px;
  background-color: rgb(59, 252, 0);
  box-shadow: 0 0 10px rgb(59, 252, 0);
  z-index: 2;
  transition: 0.3s;
}

.register-container > button:disabled {
  cursor: not-allowed;
}

.register-container > button:disabled::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 15px;
  top: 13px;
  background-color: rgb(252, 0, 0);
  box-shadow: 0 0 10px rgb(252, 0, 0);
  z-index: 2;
}

.return  {
  color: #0e69f0;
  font-size: 1.1rem;
}
