.App {
  align-items: center;
  background: #3c3c3c;
  color: #b6b6b6;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
