.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(202,97,14);
}

.navBar button{
  border:none;
  color: white;
  background-color: rgb(202,97,14);
  font-size: 20px;
}

.navBar p{
  color: white;
  font-size: 20px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.cardProduct {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  height: 250px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5%;
  flex-direction: column;
  padding: 5px;
  margin: 5px 5px 5px 5px;
}

.cardProduct img {
  width: 70px;
  height: 80px;
}

.cardProduct input {
  width: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button{
  margin: 2px 2px 2px 2px;
}

.buttonCheckout {
  border: none;
  color: white;
  background-color: rgb(138,24,12);
  border-radius: 5px;
  height: 50px;
  width: 300px;
}
