input {
  border: none;
  border-radius: 5px;
  padding: 15px;
}

button {
  cursor: pointer;

  &.primary {
    background: #f54b2a;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    height: 47px;

    &:disabled {
      background: #ccc;
      color: #444;
      cursor: not-allowed;
    }
  }

  &.link {
    background: none;
    border: none;
    text-decoration: underline;
  }
}

.App:after {
  background: rgb(27, 26, 33, 0.95);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
