table {
  border-spacing: 0 0.9rem;
  width: 70%;
}

th {
  background: rgb(24, 24, 24);
  color: rgb(243, 243, 243);
  text-align: left;
}

td {
  background: white;
  border-radius: 5px;
  color: rgb(24, 24, 24);
  padding: 1rem 2rem;
}

.removeButtonCheckout {
  background: rgb(245, 69, 69);
  padding: 10px 15px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.removeButtonCheckout:hover {
  filter: brightness(0.9);
}
